[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
airtable-python-wrapper = "*"
beautifulsoup4 = "*"
certifi = "*"
chardet = "*"
cloudinary = "*"
idna = "*"
mock = "*"
nameparser = "*"
pdfkit = "*"
Pillow = "*"
python-dateutil = "*"
requests = "*"
rfc3987 = "*"
Send2Trash = "*"
six = "*"
soupsieve = "*"
urllib3 = "*"
documentcloud = "*"

[requires]
python_version = "3.8"
